.claim-section {
    .opeartions-tab {
        background: rgba(22, 26, 34, 0.9);
        border-radius: 20px;
        padding: 14px 20px;
        border: none;
        margin-bottom: 10px;

        .nav-item {
            .nav-link {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                padding: 10px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid transparent;
            }
        }

        .nav-item.show .nav-link,
        .nav-link.active {
            border-bottom: 1px solid #FF0083;
        }
    }
}




.availble-reward {
    background: rgba(22, 26, 34, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;

    .btn-claim {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
        border: none;
        border-bottom: 1px solid #F058A6;
        box-shadow: 0px 3px 1px #88134F;
        border-radius: 10px;
        padding: 8px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }

    .btn-processing {
        background-color: transparent;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FF0083;
        display: flex;
        align-items: center;
        gap: 10px;

        .spinner-border {
            width: 18px;
            height: 18px;
        }
    }

    .maincard {
        width: 100%;

        .maintable {
            width: 100%;

            .table-striped>tbody>tr:nth-of-type(odd) {
                background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
                border-radius: 10px;
                padding: 11px 20px !important;
            }

            .table-striped {
                width: 100%;

                thead {


                    tr {
                        th {
                            text-align: start;
                            vertical-align: middle;
                            padding: 16px 20px;

                            .headtable {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 100%;
                                color: #81828A;

                            }
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            text-align: start;
                            border-bottom: none;
                            padding: 16px 20px;
                            vertical-align: middle;

                            .paratable {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 100%;
                                letter-spacing: 0.01em;
                                color: #FFFFFF;
                            }

                            .completebtn {
                                button {
                                    background: #04C453;
                                    border-radius: 25px;
                                    padding: 5px 10px;
                                    // width: 100%;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 100%;
                                    letter-spacing: 0.01em;
                                    color: #033A1A;
                                    border: none;
                                    height: 24px;
                                }

                                .orange {
                                    background: #FF8936;
                                    color: #401E07;
                                    border: none;
                                }

                                .red {

                                    background: #FB2F2F;
                                    color: #370404;
                                    border: none;
                                }
                            }

                            .dropbtn {
                                .dropdown {
                                    .dropdown-toggle::after {
                                        display: none;
                                    }

                                    .dropdown-toggle {
                                        background: transparent;
                                        border: none;

                                        &:focus {
                                            border: none;
                                            box-shadow: none;
                                        }
                                    }

                                    .dropdown-menu.show {
                                        transform: unset !important;
                                        right: 22px !important;
                                        top: 30px !important;
                                    }

                                    .dropdown-menu {
                                        background: #22252F;
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                                        border-radius: 10px;
                                        padding: 5px;

                                    }

                                    .dropdown-item {
                                        p {
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 100%;
                                            letter-spacing: 0.01em;
                                            color: #FFFFFF;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 10px;

                                        }

                                        &:hover {
                                            background-color: unset;
                                        }

                                    }
                                }
                            }

                        }
                    }

                    .twice {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                }

            }
        }

        .pagi {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .left {
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    color: #81828A;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 22px;

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 100%;
                    color: #BFC3C7;
                }

                .pagination {
                    display: flex;
                    gap: 10px;

                    .page-link {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        background-color: transparent;
                        line-height: 100%;
                        color: #BFC3C7;
                        width: 28px;
                        height: 27px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                    }

                    .page-item.active .page-link {
                        background: #FF0083 !important;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 100%;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .upper-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 28px;

            h6 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            a {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                color: #FF0083;
                display: flex;
                align-items: center;
            }
        }
    }
}

.btn-goback {
    background: #201D27;
    border-radius: 10px;
    padding: 14px 20px;
    border: none;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}


@media (max-width:600px) {
    .availble-reward .bottom-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .availble-reward .maincard .pagi {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .availble-reward .upper-item {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .availble-reward .upper-item .left {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .availble-reward .bottom-cards .card-item {
        max-width: 100%;
    }

    .availble-reward .maincard {
        margin-top: 30px;
    }

    .availble-reward .maincard .maintable .table-striped tbody .twice {
        flex-direction: column;
    }
    .claim-section .opeartions-tab{
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .claim-section .opeartions-tab .nav-item .nav-link{
        white-space: nowrap;
    }
}