// forum page scss here ...................


.topicwrapper {
    // background: url("./../../Assests/landing-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;


    .content-side {
        background: #FFFFFF;
        border-radius: 10px;
        filter: drop-shadow(0px 0px 21px rgba(0, 0, 0, 0.07));
    }


    .startingtopic {
        .topic {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 19px 55px;
            background: #FF0083;
            border-radius: 4px;
            font-style: normal;
            font-size: 18px;
            line-height: 100%;
            color: #FFFFFF;
            border: none;
            margin-bottom: 30px;
            width: 100%;
        }

        .topsoldier {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 20px 10px;
            width: 100%;
            background: rgba(255, 255, 255, 0.36);
            backdrop-filter: blur(5px);
            border-radius: 4px;

            .head {

                font-style: normal;
                font-size: 16px;
                line-height: 100%;
                color: #000000;
                margin-bottom: 12px;
            }

            .rank {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 10px;
                padding-top: 10px;
                border-bottom: 1px solid #F3F3F3;
                width: 100%;

                &:last-child {
                    border-bottom: none !important;
                }

                .rankimges {
                    width: 36px;
                    height: 36px;
                }

                .rankheading {

                    font-style: normal;
                    font-size: 15px;
                    line-height: 140%;
                    text-transform: capitalize;
                    color: #959595;
                    margin-left: 16px;
                }
            }
        }
    }


    .btn-success {
        display: none;
    }

    .back-btn {
        margin-bottom: 20px;
        font-style: normal;
        font-size: 18px;
        line-height: 100%;
        color: #292D32 !important;
    }


    .sidebar {
        .heading {
            font-style: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: #000;
            margin-bottom: 25px;
            margin-left: 15px;
        }

        .change-my-color {
            margin-right: 20px;
        }

        .nav-link {
            font-style: normal;
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
            color: #B6B6B6;
            padding: 15px;
            border-left: 4px solid transparent;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .nav-link.active,
        .show>.nav-link {
            padding: 15px;
            background: rgba(255, 0, 131, 0.07);
            border-radius: 5px;
            border-left: 4px solid #FF0083;
        }
    }

    .activeclass {
        padding: 15px;
        background: rgba(255, 0, 131, 0.07);
        border-radius: 5px;
        border-left: 4px solid #FF0083 !important;
        color: #FF0083 !important;
    }

    .maincmntsection {
        padding: 30px;
        margin-bottom: 30px;
        position: relative;
        background: rgba(22, 26, 34, 0.9);
        backdrop-filter: blur(2px);
        border-radius: 20px;

        .arrows {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20px;
            position: absolute;

            .serial {

                font-style: normal;
                font-size: 16px;
                line-height: 100%;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-top: 12px;
                margin-bottom: 12px;
                font-weight: 500;
            }

            .red {
                color: #FF0F00 !important;
            }
        }

        .first {

            .saying {
                // padding-left: 77px;

                .texts {
                    padding-bottom: 20px;
                    border-bottom: 1.5px solid #2E3039;
                    margin-bottom: 20px;

                    h4 {

                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 100%;
                        color: #FFFFFF;
                        text-align: start;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }

                    p {

                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 140%;
                        text-transform: capitalize;
                        color: #FFFFFF;
                        text-align: start;
                        font-weight: 500;
                    }

                    .upperpara {
                        margin-bottom: 12px;
                    }
                }

                .lowercontent {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .ranked {
                        display: flex;
                        align-items: center;

                        .rankimg {
                            width: 36px;
                            height: 36px;
                        }

                        h4 {

                            font-style: normal;
                            font-size: 15px;
                            line-height: 140%;
                            text-transform: capitalize;
                            color: #959595;
                            margin-right: 15px;
                            font-weight: 500;

                            span {
                                text-transform: uppercase;
                            }
                        }

                        span {
                            font-style: normal;
                            font-size: 15px;
                            line-height: 140%;
                            text-transform: capitalize;
                            color: #81828A;
                        }

                        h6 {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 110%;
                            color: #FFFFFF;
                            font-weight: 600;
                        }

                        .inner-parent {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .inner-side {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                            }
                        }
                    }

                    .comments {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        background: #1D2028;
                        border-radius: 10px;
                        padding: 10px 20px;

                        .cmnt {
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        p {

                            font-style: normal;
                            font-size: 15px;
                            line-height: 140%;
                            text-transform: capitalize;
                            color: #959595;
                        }
                    }
                }
            }
        }

        .comments {
            margin-top: 23px;
            border-radius: 10px;
            background: #1D2028;
            padding: 20px;

            .maincomment {
                .headcmnt {

                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px !important;
                    line-height: 130%;
                    color: #FFFFFF;
                    text-align: start;
                    font-weight: 700;
                }

                .innermain {
                    border-bottom: 1px solid #2E3039;
                    padding-bottom: 14px;
                    padding-top: 40px;

                    &:last-child {
                        border-bottom: none !important;
                    }

                    p {

                        font-style: normal;
                        font-size: 20px !important;
                        line-height: 130%;
                        color: #FFFFFF;
                        text-align: start;
                        font-weight: 500;
                    }

                    .innerprofile {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 26px;

                        .imageset {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            margin-right: 13px;

                            .profileimg {
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-size: cover;
                            }
                        }

                        .textprofile {
                            h6 {

                                font-style: normal;
                                font-size: 20px;
                                line-height: 130%;
                                color: #FFFFFF;
                                text-align: start;
                                margin-bottom: 2px;
                                font-weight: 700;
                            }

                            p {

                                font-style: normal;
                                font-size: 16px;
                                line-height: 130%;
                                color: #81828A;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .forcmnt {
            h5 {

                font-style: normal;
                font-size: 24px;
                line-height: 130%;
                color: #FFFFFF;
                padding-top: 13px;
                margin-bottom: 20px;
                text-align: start;
                font-weight: 700;
            }

            p {

                font-style: normal;
                font-size: 20px;
                line-height: 130%;
                color: #FFFFFF;
                margin-bottom: 10px;
                text-align: start;
                font-weight: 700;
            }

            textarea {
                padding: 20px;
                height: 152px;
                margin-bottom: 30px;
                background: #191D26;
                border: 1px solid #343742;
                border-radius: 10px;
                color: #fff;

                &::placeholder {

                    font-style: normal;
                    font-size: 16px;
                    line-height: 100%;
                    color: #81828A;
                }
            }

            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 14px;
                border: none;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: #FFFFFF;
                border-radius: 10px;
                border-bottom: 1px solid #F058A6;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%), #FF0083;
                box-shadow: 0px 3px 1px 0px #88134F;
                max-width: 186px;
                width: 100%;

                &:hover {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #D10570;
                    border: none;
                    border-bottom: 1px solid #F058A6;
                    box-shadow: 0px 3px 1px #88134F;
                    border-radius: 10px;
                }

            }
        }
    }
}

.sidebar-icon {
    display: none;
}

@media (max-width: 1199px) {
    .topicwrapper .startingtopic .topsoldier {
        margin-bottom: 30px;
    }

    .topicwrapper .topics .fordirection {
        display: flex;
        flex-direction: column-reverse !important;
    }
}

@media (max-width: 991px) {
    .topicwrapper .startingtopic .topsoldier {
        margin-bottom: 100px;
    }

    .topicwrapper .topics .fordirection {
        display: flex;
        flex-direction: column-reverse !important;
    }

    .sidebar-icon {
        display: block !important;
    }

    .btn-success {
        display: block !important;
    }

    .topicwrapper .close-btn {
        display: block !important;
        position: absolute;
        right: 25px;
        top: 20px;
        width: 20px;
        height: 20px;
    }

    .mobielSidebarHide {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        z-index: 99;
        /* width: 100%; */
        animation-name: moveInleft;
        animation-duration: 2s;
    }

    @keyframes moveInleft {
        0% {
            opacity: 1;
            transform: translateX(300px);
        }

        100% {
            opacity: 0;
            transform: translateX(-100px);
        }
    }

    .mobielSidebarShow {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);

        &::-webkit-scrollbar {
            display: none !important;
        }

        left: 0%;
        z-index: 99;
        /* width: 100%; */
        animation-name: moveInRight;
        animation-duration: 1s;
        padding: 0;
    }

    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        100% {
            opacity: 1;
            transform: translate(0);
        }
    }

    .mobile-side-none {
        display: none;
    }

    .padd-md {
        padding: 0;
    }

    .topicwrapper .back-btn {
        padding: 0 15px;
    }

    .mainprofile-right {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .sidebar-icon {
        position: absolute;
        top: -60px;
        right: 20px;
        z-index: 99;
    }

    .topicwrapper .sidebar .heading {
        margin-top: 20px;
    }

    .topicwrapper .maincmntsection {
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .gsvvscvtycsvc{
        width: 100%;
    }
    .padd-md {
        padding: 0;
    }

    .topicwrapper .bottom-btn {
        flex-direction: column;
    }

    .topicwrapper .bottom-btn button {
        width: 100%;
    }

    .topicwrapper .tile p {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .topicwrapper .sidebar {
        height: 100%;
    }

    .topicwrapper .mainprofile-right .bottom-card .top-parent {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px 0;

    }

    // .topicwrapper .maincmntsection .first .saying {
    //     padding-left: 30px;
    // }

    .topicmodal .modal .modal-dialog .modal-content {
        min-width: 100% !important;
    }

    .topicmodal .modal .modal-dialog .modal-content .modal-body {
        padding: 30px 20px !important;
    }
}

.topicmodal {
    .modal {
        .modal-dialog {
            display: flex;
            justify-content: center;
            align-items: center;

            .modal-content {
                min-width: 672px;
                margin: 0 auto;
                background: #161A22;
                backdrop-filter: blur(2px);
                border-radius: 20px;

                .modal-header {
                    border-bottom: none;
                    padding: 0px;
                    position: relative;

                    .modal-title {
                        color: #FFF !important;
                        font-size: 18px !important;
                        font-style: normal !important;
                        font-weight: 700 !important;
                        line-height: 110% !important;
                        text-transform: uppercase !important;
                    }

                    .btn-close {
                        background: url(../../assets/icons/crossimg.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: contain;
                        width: 32px;
                        height: 32px;
                        box-sizing: border-box;
                        box-shadow: none;
                        opacity: 2;
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        opacity: 2;
                        z-index: 50;
                    }
                }

                .modal-body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 20px 20px 40px 20px;

                    h5 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        margin-bottom: 25px;
                        text-align: start;
                        display: block;
                        width: 100%;
                        text-transform: capitalize;
                    }

                    p {
                        margin-bottom: 10px;
                        width: 100%;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        color: #81828A;
                        text-align: start;
                    }

                    input {
                        padding: 16px 15px;
                        width: 100%;
                        margin-bottom: 25px;
                        background: #191D26;
                        border: 1px solid #343742;
                        border-radius: 10px;
                        color: #fff;

                        &::placeholder {
                            font-style: normal;
                            font-size: 16px;
                            line-height: 140%;
                            color: #81828A;
                        }
                    }

                    textarea {
                        padding: 15px;
                        width: 100%;
                        height: 156px;
                        background: #191D26;
                        border: 1px solid #343742;
                        border-radius: 10px;
                        margin-bottom: 35px;
                        color: #fff;

                        &::placeholder {
                            font-style: normal;
                            font-size: 16px;
                            line-height: 140%;
                            color: #81828A;
                        }
                    }

                    .twice-btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        button {
                            flex: 0 0 49%;
                            height: 47px;
                        }

                        .btn-topic {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 16px 40px;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
                            border: none;
                            border-bottom: 1px solid #F058A6;
                            box-shadow: 0px 3px 1px #88134F;
                            border-radius: 10px;
                        }

                        .btn-cancel {
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 34.22%), #1D2128;
                            border: none;
                            border-bottom: 1px solid #363B44;
                            box-shadow: 0px 3px 1px #1B1F25;
                            border-radius: 10px;
                            padding: 16px 40px;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0.01em;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}

.set-bg-color {
    background: #1D2028;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
}

.members-section {
    background: rgba(22, 26, 34, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;

    .tophead {
        margin-bottom: 20px;

        h6 {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 110%;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: start;

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 110%;
                text-transform: uppercase;
                color: #81828A;
                margin-left: 10px;
            }
        }
    }

    .option-field {
        position: relative;
        margin-bottom: 20px;

        input {
            background: #191D26;
            border: 1px solid #343742;
            border-radius: 10px;
            padding: 16px 15px;
            width: 100%;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #81828A;
            padding-right: 25px;
        }

        .search-icon {
            position: absolute;
            top: 16px;
            right: 16px;
        }
    }

    .bottom-table {
        .upper-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 10px;
            padding-right: 85px;

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;

            }
        }

        .bottom-fields {
            .inner-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 11px 20px;

                &:nth-child(odd) {
                    background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
                    border-radius: 10px;
                }
            }
        }
    }
}

.member-offcanvas {
    background: #161A22;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 20px;

    width: 100%;
    height: 500px !important;

    border-radius: 20px;

    .offcanvas-header .btn-close {
        background: url(../../assets/icons/crossimg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: contain;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        box-shadow: none;
    }

    .offcanvas-body {
        padding: 0px;

        .members-section {
            background: #161A22;
            backdrop-filter: blur(2px);
            border-radius: 20px;
            // padding: 20px;
            margin-top: 30px;
            padding: 0px;

            .tophead {
                margin-bottom: 20px;

                h6 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 110%;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-align: start;

                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 110%;
                        text-transform: uppercase;
                        color: #81828A;
                        margin-left: 10px;
                    }
                }
            }

            .option-field {
                position: relative;
                margin-bottom: 20px;

                input {
                    background: #191D26;
                    border: 1px solid #343742;
                    border-radius: 10px;
                    padding: 16px 15px;
                    width: 100%;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #81828A;
                }

                .search-icon {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                }
            }

            .bottom-table {
                .upper-heading {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;
                    margin-bottom: 10px;

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        color: #81828A;
                        width: 50%;

                    }
                }

                .bottom-fields {
                    .inner-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 11px 20px;

                        h6 {
                            width: 50%;
                        }

                        &:nth-child(odd) {
                            background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}



@media (max-width:600px) {
    .members-section {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .topicwrapper .maincmntsection .first .saying .lowercontent {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
    }

    .topicwrapper .maincmntsection .first .saying .lowercontent .ranked {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }

    .topicwrapper .maincmntsection .first .saying .lowercontent .ranked h6 {
        font-size: 14px;
    }

    .topicwrapper .maincmntsection .first .saying .texts h4 {
        font-size: 18px;
    }

    .topicwrapper .maincmntsection .first .saying .texts p {
        font-size: 13px;
    }

    .topicwrapper .maincmntsection .first .saying .lowercontent .ranked .rankimg {
        width: 30px;
        height: 30px;
    }

    .topicwrapper .maincmntsection .comments .maincomment .innermain .innerprofile .imageset {
        width: 40px;
        height: 40px;
    }

    .topicwrapper .maincmntsection .comments .maincomment .innermain .innerprofile .textprofile h6 {
        font-size: 16px;
    }

    .topicwrapper .maincmntsection .comments .maincomment .innermain .innerprofile .textprofile p {
        font-size: 12px !important;
    }

    .topicwrapper .maincmntsection .comments .maincomment .innermain p {
        font-size: 13px !important;
    }

    .topicwrapper .maincmntsection .forcmnt h5 {
        font-size: 20px
    }

    .topicwrapper .maincmntsection .forcmnt p {
        font-size: 16px;
    }

    .topicwrapper .maincmntsection .forcmnt button {
        width: 100%;
        height: 44px;
    }

    .set-bg-color {
        margin-top: 23px;
    }

    .topicmodal .modal .modal-dialog .modal-content .modal-body .twice-btn {
        flex-direction: column;
        gap: 15px;
    }

    .topicmodal .modal .modal-dialog .modal-content .modal-body .twice-btn button {
        flex: 0 0 100%;
        width: 100%;
    }

    .Header-wrapper .header-buttons .create-squad-btn {
        display: none;
    }
}




.topic-new-modal {
    .modal-title {
        margin-top: 20px;
        margin-left: 20px;
        color: #FFF !important;
                        font-size: 18px !important;
                        font-style: normal !important;
                        font-weight: 700 !important;
                        line-height: 110% !important;
                        text-transform: uppercase !important;
    }

    .modal-dialog {
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-content {
            min-width: 672px;
            margin: 0 auto;
            background: #161A22;
            backdrop-filter: blur(2px);
            border-radius: 20px;

            .modal-header {
                border-bottom: none;
                padding: 0px;
                position: relative;

                .btn-close {
                    background: url(../../assets/icons/crossimg.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: contain;
                    width: 32px;
                    height: 32px;
                    box-sizing: border-box;
                    box-shadow: none;
                    opacity: 2;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    opacity: 2;
                    z-index: 50;
                }
            }

            .modal-body {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 20px 20px 40px 20px;

                h5 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 100%;
                    text-align: center;
                    color: #FFFFFF;
                    margin-bottom: 25px;
                    text-align: start;
                    display: block;
                    width: 100%;
                    text-transform: capitalize;
                }

                p {
                    margin-bottom: 10px;
                    width: 100%;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #81828A;
                    text-align: start;
                }

                input {
                    padding: 16px 15px;
                    width: 100%;
                    margin-bottom: 25px;
                    background: #191D26;
                    border: 1px solid #343742;
                    border-radius: 10px;
                    color: #fff;

                    &::placeholder {
                        font-style: normal;
                        font-size: 16px;
                        line-height: 140%;
                        color: #81828A;
                    }
                }

                textarea {
                    padding: 15px;
                    width: 100%;
                    height: 156px;
                    background: #191D26;
                    border: 1px solid #343742;
                    border-radius: 10px;
                    margin-bottom: 35px;
                    color: #fff;

                    &::placeholder {
                        font-style: normal;
                        font-size: 16px;
                        line-height: 140%;
                        color: #81828A;
                    }
                }

                .twice-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    button {
                        flex: 0 0 49%;
                        height: 47px;
                    }

                    .btn-topic {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 16px 40px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        text-transform: capitalize;
                        color: #FFFFFF;
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
                        border: none;
                        border-bottom: 1px solid #F058A6;
                        box-shadow: 0px 3px 1px #88134F;
                        border-radius: 10px;
                    }

                    .btn-cancel {
                        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 34.22%), #1D2128;
                        border: none;
                        border-bottom: 1px solid #363B44;
                        box-shadow: 0px 3px 1px #1B1F25;
                        border-radius: 10px;
                        padding: 16px 40px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0.01em;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.shsvhsvhsdhsd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .create-squad-btn {
        padding: 9px 20px;
        height: 48px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
        border: none;
        border-bottom: 1px solid #F058A6;
        box-shadow: 0px 3px 1px #88134F;
        border-radius: 10px;
        outline: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
    }
}

.soldier-name {
    margin-left: 15px;

    h6 {
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 110%;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: start;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        text-transform: uppercase;
        color: #81828A;
        text-align: start;
    }
}

.twice-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    width: 100%;
}

