
.operations{
    .opeartions-tab{
        background: rgba(22, 26, 34, 0.9);
        border-radius: 20px;
        padding: 14px 20px;
        border: none;
        margin-bottom: 10px;
        .nav-item{
            .nav-link{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                padding: 10px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid transparent;
                border-radius: 0 !important;
            }
        }
         .nav-item.show .nav-link,  .nav-link.active{
            border-bottom: 1px solid #FF0083;
            border-radius: 0 !important;
         }
    }
}


.active-operations{
    background: rgba(22, 26, 34, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    .upper-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .left{
            h6{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                color: #FFFFFF;
                span{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 110%;
                    text-transform: uppercase;
                    color: #04C453;
                    margin-left: 5px;
                }

            }
            p{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 110%;
                text-transform: uppercase;
                color: #81828A;
                text-align: start;
            }
        }
        a{
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            color: #FF0083;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }
    .bottom-cards{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .card-item{
            background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
            border-radius: 10px;
            padding: 20px;
            max-width: 237px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            height: 163px;
            .inner-content{
                p{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    color: #81828A;
                    margin-top: 22px;
                    margin-bottom: 12px;
                    text-align: start;
                }
                h6{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    text-align: start;
                }
            }
        }
        .unique-item{
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            max-width: 100%;
            .nft-img{
                width: 123px;
                height: 123px;
                border-radius: 7px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .inner-set{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    .maincard {
        width: 100%;

        .maintable {
            width: 100%;

            .table-striped>tbody>tr:nth-of-type(odd) {
                background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
                border-radius: 10px;
                padding: 11px 20px !important;
            }

            .table-striped {
                width: 100%;

                thead {


                    tr {
                        th {
                            text-align: start;
                            vertical-align: middle;
                            padding: 16px 20px;

                            .headtable {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 100%;
                                color: #81828A;

                            }
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            text-align: start;
                            border-bottom: none;
                            padding: 16px 20px;
                            vertical-align: middle;

                            .paratable {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 100%;
                                letter-spacing: 0.01em;
                                color: #FFFFFF;
                            }

                            .completebtn {
                                button {
                                    background: #04C453;
                                    border-radius: 25px;
                                    padding: 5px 10px;
                                    // width: 100%;
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 100%;
                                    letter-spacing: 0.01em;
                                    color: #033A1A;
                                    border: none;
                                    height: 24px;
                                }

                                .orange {
                                    background: #FF8936;
                                    color: #401E07;
                                    border: none;
                                }

                                .red {

                                    background: #FB2F2F;
                                    color: #370404;
                                    border: none;
                                }
                            }

                            .dropbtn {
                                .dropdown {
                                    .dropdown-toggle::after {
                                        display: none;
                                    }

                                    .dropdown-toggle {
                                        background: transparent;
                                        border: none;

                                        &:focus {
                                            border: none;
                                            box-shadow: none;
                                        }
                                    }

                                    .dropdown-menu.show {
                                        transform: unset !important;
                                        right: 22px !important;
                                        top: 30px !important;
                                    }

                                    .dropdown-menu {
                                        background: #22252F;
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                                        border-radius: 10px;
                                        padding: 5px;

                                    }

                                    .dropdown-item {
                                        p {
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 100%;
                                            letter-spacing: 0.01em;
                                            color: #FFFFFF;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 10px;

                                        }

                                        &:hover {
                                            background-color: unset;
                                        }

                                    }
                                }
                            }

                        }
                    }

                    .twice{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                }

            }
        }

        .pagi {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .left {
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    color: #81828A;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 22px;

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 100%;
                    color: #BFC3C7;
                }

                .pagination {
                    display: flex;
                    gap: 10px;

                    .page-link {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        background-color: transparent;
                        line-height: 100%;
                        color: #BFC3C7;
                        width: 28px;
                        height: 27px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                    }

                    .page-item.active .page-link {
                        background: #FF0083 !important;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 100%;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .upper-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 28px;
            h6{
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            a{
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                color: #FF0083;
                display: flex;
                align-items: center;
            }
        }
    }
}

.btn-goback{
    background: #201D27;
    border-radius: 10px;
    padding: 14px 20px;
    border: none;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}


@media (max-width:991px){
    .active-operations .bottom-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .active-operations .maincard .pagi{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .active-operations .upper-item{
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .active-operations .upper-item .left{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
    .active-operations .bottom-cards .card-item{
        max-width: 100%;
    }
    .active-operations .maincard{
        margin-top: 30px;
    }
    .active-operations .maincard .maintable .table-striped tbody .twice{
        flex-direction: column;
    }
    .operations .opeartions-tab{
        justify-content: space-between;
    }
    .operations .opeartions-tab .nav-item{
        flex: 1;
    }
    .operations .opeartions-tab .nav-item .nav-link{
        width: 100%;
    }
    .active-operations .upper-item .left h6{
        font-size: 16px;
        text-align: start;
    }
    .active-operations .upper-item .left h6 span{
        font-size: 16px;
    }
    .active-operations .upper-item{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .active-operations .upper-item .left p{
        text-align: start;
        width: 100%;
    }
    .active-operations .bottom-cards .card-item{
        flex-direction: row !important;
        gap: 15px;
        height: auto;
    }
    .active-operations .bottom-cards .card-item .inner-content p{
        margin-top: 0 !important;
    }
    .active-operations .bottom-cards .unique-item{
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
    .active-operations .bottom-cards .inner-set{
        width: 100%;
        flex-direction: row !important;
        gap: 15px;
    }
}

.active-operations.aa .upper-item .left h6 span {
    color: #FB2F2F !important
}