.App {
    font-family: sans-serif;
    text-align: center!important;
  }
  
  .ReactCrop__image {
    max-width: 600px!important;
    max-height: 600px!important;
    object-fit: contain!important;
  }
  