.home-operations {
    background: rgba(22, 26, 34, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;

    .upper-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .left {
            max-width: 800px;
            width: 100%;
            h6 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: start;

                span {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 110%;
                    text-transform: uppercase;
                    color: #04C453;
                    margin-left: 5px;
                }

            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 110%;
                text-transform: uppercase;
                color: #81828A;
                text-align: start;
                text-align: start;
            }
        }

        a {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            color: #FF0083;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }

    .bottom-cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        .card-item {
            background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
            border-radius: 10px;
            padding: 20px;
            max-width: 237px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            height: 163px;

            .inner-content {
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 100%;
                    color: #81828A;
                    margin-top: 22px;
                    margin-bottom: 12px;
                    text-align: start;
                }

                h6 {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    text-align: start;
                }
            }
        }

        .unique-item {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            max-width: 100%;

            .nft-img {
                width: 123px;
                height: 123px;
                border-radius: 7px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .inner-set {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    .maincard {
        width: 100%;

        .maintable {
            width: 100%;

            .table-striped>tbody>tr:nth-of-type(odd) {
                background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
                border-radius: 10px;
                padding: 11px 20px !important;
            }

            .table-striped {
                width: 100%;

                thead {


                    tr {
                        th {
                            text-align: start;
                            vertical-align: middle;
                            padding: 16px 20px;

                            .headtable {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 100%;
                                color: #81828A;

                            }
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            text-align: start;
                            border-bottom: none;
                            padding: 16px 20px;
                            vertical-align: middle;

                            .paratable {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 100%;
                                letter-spacing: 0.01em;
                                color: #FFFFFF;
                            }

                            .completebtn {
                                button {
                                    background: #04C453;
                                    border-radius: 25px;
                                    padding: 5px 10px;
                                    // width: 100%;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 100%;
                                    letter-spacing: 0.01em;
                                    color: #033A1A;
                                    border: none;
                                    height: 24px;
                                }

                                .orange {
                                    background: #FF8936;
                                    color: #401E07;
                                    border: none;
                                }

                                .red {

                                    background: #FB2F2F;
                                    color: #370404;
                                    border: none;
                                }
                            }

                            .dropbtn {
                                .dropdown {
                                    .dropdown-toggle::after {
                                        display: none;
                                    }

                                    .dropdown-toggle {
                                        background: transparent;
                                        border: none;
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        transition: 0.1s linear;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        &:focus {
                                            background: #252B35;
                                            border-radius: 50%;
                                        }

                                        &:focus {
                                            border: none;
                                            box-shadow: none;
                                        }
                                    }

                                    .dropdown-menu.show {
                                        transform: unset !important;
                                        right: 22px !important;
                                        top: 30px !important;
                                    }

                                    .dropdown-menu {
                                        background: #22252F;
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                                        border-radius: 10px;
                                        padding: 5px;

                                    }

                                    .dropdown-item {
                                        p {
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 100%;
                                            letter-spacing: 0.01em;
                                            color: #FFFFFF;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            gap: 10px;

                                        }

                                        &:hover {
                                            background-color: unset;
                                        }

                                    }
                                }
                            }

                        }
                    }

                    .twice {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }

                }

            }
        }

        .pagi {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            .left {
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    color: #81828A;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 22px;

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 100%;
                    color: #BFC3C7;
                }

                .pagination {
                    display: flex;
                    gap: 10px;

                    .page-link {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        background-color: transparent;
                        line-height: 100%;
                        color: #BFC3C7;
                        width: 28px;
                        height: 27px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                    }

                    .page-item.active .page-link {
                        background: #FF0083 !important;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 100%;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .upper-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 28px;

            h6 {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                text-transform: uppercase;
                color: #FFFFFF;
            }

            a {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                color: #FF0083;
                display: flex;
                align-items: center;
            }
        }
    }
    .dropbtn {
        .dropdown {
            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-toggle {
                background: transparent;
                border: none;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                transition: 0.1s linear;
                display: flex;
                justify-content: center;
                align-items: center;

                // &:focus {
                //     background: #252B35;
                //     border-radius: 50%;
                // }

                &:focus {
                    border: none;
                    box-shadow: none;
                }
            }

            .dropdown-menu.show {
                transform: unset !important;
                right: 22px !important;
                top: 30px !important;
            }

            .dropdown-menu {
                background: #22252F;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                padding: 5px;

            }

            .dropdown-item {
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                }

                &:hover {
                    background-color: unset;
                }

            }
        }
    }
}

.topsquad-table {
    .option-field {
        position: relative;
        margin-top: 28px;
        margin-bottom: 20px;

        input {
            background: rgba(22, 26, 34, 0.9);
            backdrop-filter: blur(2px);
            border: 1px solid #2D313E !important;
            width: 100%;
            border-radius: 20px;
            padding: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #fff;

            &::placeholder {
                color: #81828A;
            }

            &:focus-visible {
                outline: none;
            }
        }

        .search-icon {
            position: absolute;
            top: 18px;
            right: 18px;
        }
    }

    .btn-requestjoin {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
        border: none;
        border-bottom: 1px solid #F058A6;
        box-shadow: 0px 3px 1px #88134F;
        border-radius: 10px;
        padding: 8px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        max-width: 129px;
        width: 100%;
        &:hover{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #D10570;
            border-bottom: 1px solid #F058A6;
            box-shadow: 0px 3px 1px #88134F;
        }

    }

    .btn-requested {
        background-color: transparent;
        border: 1px solid #FF0083;
        border-radius: 10px;
        padding: 8px 20px;
        font-style: normal;
        font-weight: 600;
        pointer-events: none;
        opacity: 0.5;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        max-width: 129px;
        width: 100%;
        &:hover{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
            border: 1px solid transparent;
            border-bottom: 1px solid #F058A6;
            box-shadow: 0px 3px 1px #88134F;
        }
    }

    .parent {
        display: flex;
        align-items: center;
        gap: 10px;

        .profile {
            width: 34px;
            height: 34px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


.warpper-lock-operation {
    position: relative;

    .lock-operation {
        background: rgba(34, 37, 47, 0.5);
        backdrop-filter: blur(7px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h6 {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 110%;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 20px 0;
        }

        button {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
            border: none;
            border-bottom: 1px solid #F058A6;
            box-shadow: 0px 3px 1px #88134F;
            border-radius: 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            padding: 14px 40px;
        }
    }
}

@media (max-width:991px) {
    .warpper-lock-operation .lock-operation h6 {
        font-size: 25px;
    }

    .home-operations .bottom-cards .card-item {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        height: auto;
    }

    .home-operations .bottom-cards .card-item .inner-content p {
        margin-top: 0;
    }

    .home-operations .bottom-cards .unique-item {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .home-operations .bottom-cards .inner-set {
        width: 100%;
        flex-direction: row !important;
        gap: 15px;
    }

    .home-operations .upper-item {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .home-operations .upper-item .left p {
        text-align: start !important;
    }

    .home-operations .upper-item .left h6 {
        text-align: start;
    }

    .home-operations .upper-item .left h6 span {
        display: block;
        margin: 0 !important;
    }

    .home-operations .upper-item {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
    }

    .home-operations .upper-item a span {
        display: none;
    }
}


.joinsquad-modal{
    background: rgba(34, 37, 47, 0.6);
    backdrop-filter: blur(7px);
    .modal-content{
        background: #161A22;
        backdrop-filter: blur(2px);
        border-radius: 20px;
    }
    .modal-dialog{
        max-width: 672px;
    }
    .modal-header{
        border: none;
        padding: 20px 26px;
        .modal-title{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 110%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .btn-close{
            background: url("../../../../assets/icons/close-icon.svg");
            opacity: 1;
        }
    }

    .modal-body{
        padding: 20px 26px;
        .parent-modal{
            .option-field{
                position: relative;
                margin-bottom: 20px;
                input{
                    background: rgba(22, 26, 34, 0.9);
                    backdrop-filter: blur(2px);
                    border-radius: 20px;
                    padding: 20px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #fff;
                    width: 100%;
                    &::placeholder{
                        color: #81828A;
                    }
                }
                .search-icon{
                    position: absolute;
                    top: 20px;
                    right: 15px;
                }
            }
        }
    }

    .maintable {
        width: 100%;

        .table-striped>tbody>tr:nth-of-type(odd) {
            background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
            border-radius: 10px;
            padding: 11px 20px !important;
        }

        .table-striped {
            width: 100%;

            thead {


                tr {
                    th {
                        text-align: start;
                        vertical-align: middle;
                        padding: 16px 20px;

                        .headtable {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 100%;
                            color: #81828A;

                        }
                    }
                }
            }

            tbody {

                tr {

                    td {
                        text-align: start;
                        border-bottom: none;
                        padding: 16px 20px;
                        vertical-align: middle;

                        .paratable {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0.01em;
                            color: #FFFFFF;
                        }

                        .completebtn {
                            button {
                                background: #04C453;
                                border-radius: 25px;
                                padding: 5px 10px;
                                // width: 100%;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 100%;
                                letter-spacing: 0.01em;
                                color: #033A1A;
                                border: none;
                                height: 24px;
                            }

                            .orange {
                                background: #FF8936;
                                color: #401E07;
                                border: none;
                            }

                            .red {

                                background: #FB2F2F;
                                color: #370404;
                                border: none;
                            }
                        }

                        .dropbtn {
                            .dropdown {
                                .dropdown-toggle::after {
                                    display: none;
                                }

                                .dropdown-toggle {
                                    background: transparent;
                                    border: none;
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    transition: 0.1s linear;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    &:focus {
                                        background: #252B35;
                                        border-radius: 50%;
                                    }

                                    &:focus {
                                        border: none;
                                        box-shadow: none;
                                    }
                                }

                                .dropdown-menu.show {
                                    transform: unset !important;
                                    right: 22px !important;
                                    top: 30px !important;
                                }

                                .dropdown-menu {
                                    background: #22252F;
                                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                                    border-radius: 10px;
                                    padding: 5px;

                                }

                                .dropdown-item {
                                    p {
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 100%;
                                        letter-spacing: 0.01em;
                                        color: #FFFFFF;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        gap: 10px;

                                    }

                                    &:hover {
                                        background-color: unset;
                                    }

                                }
                            }
                        }

                    }
                }

                .twice {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

            }

        }
    }
    .btn-requestjoin {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
        border: none;
        border-bottom: 1px solid #F058A6;
        box-shadow: 0px 3px 1px #88134F;
        border-radius: 10px;
        padding: 8px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        max-width: 129px;
        width: 100%;
        &:hover{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #D10570;
            border-bottom: 1px solid #F058A6;
            box-shadow: 0px 3px 1px #88134F;
        }

    }

    .btn-requested {
        background-color: transparent;
        border: 1px solid #FF0083;
        border-radius: 10px;
        padding: 8px 20px;
        pointer-events: none;
        opacity: 0.5;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        max-width: 129px;
        width: 100%;
        &:hover{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
            border: 1px solid transparent;
            border-bottom: 1px solid #F058A6;
            box-shadow: 0px 3px 1px #88134F;
        }
    }

    .parent {
        display: flex;
        align-items: center;
        gap: 10px;

        .profile {
            width: 34px;
            height: 34px;
            border-radius: 5px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



.pagi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .left {
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: #81828A;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 22px;

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            color: #BFC3C7;
        }

        .pagination {
            display: flex;
            gap: 10px;

            .page-item button{
                cursor: pointer;
            }
             .page-link{
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                background-color: transparent !important;
                line-height: 100%;
                color: #BFC3C7;
                width: 28px;
                height: 27px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none !important;
            }

            .page-item .page-link.active-pag {
                background: #FF0083 !important;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 100%;
                color: #FFFFFF;
            }
        }
    }
}

.option-field{
    position: relative;
    .btn-search{
        border-radius: 10px;
        border: none;
        border-bottom: 1px solid #F058A6;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%), #FF0083;
        box-shadow: 0px 3px 1px 0px #88134F;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; 
        letter-spacing: 0.14px;
        padding: 8px;
        position: absolute;
        top: 13px;
        right: 15px;
        z-index: 50;
        max-width: 80px;
        width: 100%;
    
    }
    .btn-reset{
        border-radius: 10px;
        border: none;
        border-bottom: 1px solid #F058A6;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%), #FF0083;
        box-shadow: 0px 3px 1px 0px #88134F;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; 
        letter-spacing: 0.14px;
        padding: 8px;
        position: absolute;
        top: 13px;
        right: 100px;
        z-index: 50;
        max-width: 80px;
        width: 100%;
    }
}


@media (max-width:600px){
    .option-field{
        .btn-search, .btn-reset{
            position: static;
        }
        .twice-new-btn-sm{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            button{
                max-width: 48%;
            }
        }
    }
}


.home-operations{
    min-height: 400px !important;
}