.failedtrans-modal {
    .modal-content {
        min-height: auto !important;
    }

    .inner-card {
        border-radius: 10px;
        background: #191D26;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .inner-text {
            flex: 0 0 48%;

            h6 {
                color: #81828A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                margin-bottom: 10px;
            }

            p {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: 0.14px;
                word-break: break-all;
            }
        }
    }

    .bottom-btns {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            flex: 0 0 48%;
        }

        .btn-claim {
            border-radius: 10px;
            border: none;
            border-bottom: 1px solid #5BF69B;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%), #04C453;
            box-shadow: 0px 3px 1px 0px #17994C;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding: 14px;
            max-width: 356px;
            width: 100%;
            margin: 0 auto;
        }

        .btn-deny {
            border-radius: 10px;
            border: none;
            border-bottom: 1px solid #F35E5E;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 34.22%), #FB2F2F;
            box-shadow: 0px 3px 1px 0px #891616;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding: 14px;
            max-width: 356px;
            width: 100%;
            margin: 0 auto;
        }
    }


}

.refund-modal {
    .modal-content {
        min-height: auto !important;
    }

    .refund-div {
        h2 {
            color: #FF0083;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
        }

        h6 {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .bottom-btns {
        margin-top: 32px;

        button {
            border: none;
            border-radius: 10px;
            border-bottom: 1px solid #F058A6;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 100%), #FF0083;
            box-shadow: 0px 3px 1px 0px #88134F;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding: 14px;
            max-width: 356px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

.btn-denyy {
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #F35E5E;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 34.22%), #FB2F2F;
    box-shadow: 0px 3px 1px 0px #891616;
    padding: 8px 28px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.14px;
}

.btn-claimm {
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #5BF69B;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 34.22%), #04C453;
    box-shadow: 0px 3px 1px 0px #17994C;
    padding: 8px 28px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.14px;
}

.upperbartomi {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .card-item {
        border-radius: 20px;
        border: 1px solid #2D313E;
        background: rgba(22, 26, 34, 0.90);
        backdrop-filter: blur(2px);
        width: 100%;
        text-align: left;
        padding: 20px 20px 20px 20px;
        margin-bottom: 10px;

        p {
            padding-top: 22px;
            padding-bottom: 12px;
            color: #81828A;
            font-family: 'Rajdhani';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            text-transform: capitalize;
        }

        h5 {
            color: #FFF;
            font-family: 'Rajdhani';
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            padding-top: 8px;
        }
    }
}

.btn-denyyyyy {
    // border-radius: 10px;
    // border: none;
    // border-bottom: 1px solid #F35E5E;
    // background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 34.22%), #FB2F2F;
    // box-shadow: 0px 3px 1px 0px #891616;
    // padding: 8px 28px;
    color: red;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.14px;
    background-color: transparent;
    border: none;
}

.btn-claimmyyyy {
    // border-radius: 10px;
    // border: none;
    // border-bottom: 1px solid #5BF69B;
    // background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.00) 34.22%), #04C453;
    // box-shadow: 0px 3px 1px 0px #17994C;
    // padding: 8px 28px;
    color: #5BF69B;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.14px;
    background-color: transparent;
    border: none;
}

@media (max-width:600px) {
    .upperbartomi {
        flex-wrap: wrap;
    }

    .main-task .my-tabs .nav-tabs {
        overflow-x: scroll;
    }

    .upperbartomi .card-item {
        text-align: center;
    }
}

.totalclainedd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;

    .inner-text {
        margin-top: 14px;
        border-radius: 10px;
        background: #191D26;
        padding: 20px;
        width: 100%;

        h6 {
            color: #81828A;
            font-family: 'Rajdhani';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }

        p {
            color: #FFF;
            font-family: 'Rajdhani';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.18px;
            margin-top: 4px;
        }
    }
}

.claimhistorhy {
    border-radius: 20px;
    background: #191D26;
    padding: 20px;
    margin-top: 10px;

    .headingss {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            color: #81828A;
            font-family: Rajdhani;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 14px */
            padding-left: 16px;
        }

        h5 {
            color: #81828A;
            font-family: Rajdhani;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 14px */
        }
    }

    .outerrow {
        .innerrowasas {
            padding: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                color: #FFF;
                font-family: Rajdhani;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 14px */
                letter-spacing: 0.14px;
            }

            h5 {
                color: #FFF;
                font-family: Rajdhani;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 14px */
                letter-spacing: 0.14px;
            }
        }
    }
}

.innerrowasas:nth-child(even) {
    border-radius: 10px;
    border: 1px solid #343742;
    background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.40) 100%);
    padding: 16px;
}

.asjhasdhjadja {
    color: #FFF;
    font-family: Rajdhani;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 19.8px */
    text-transform: uppercase;
    margin-top: 10px;
}

.greennnn {
    color: #04C453;
    font-size: 18px;
    margin-top: -9px;
}

.redddddd {
    color: red;
    font-size: 18px;
    margin-top: -9px;
}

.jbjhbnjbhjbj {
    height: 130px;
}