// modals scss here...........................
.createtask-modal{
    .modal-body{
        button{
            padding: 25px 10px;
            width: 100%;
            margin-bottom: 15px;
            border: none;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            background: #161A22;
            border-radius: 10px;
            transition: 0.3s linear;
            &:hover{
                background: linear-gradient(180deg, #232631 0%, rgba(29, 32, 43, 0.4) 100%);
                border-radius: 10px;
            }
        }
    }
}

.createbasic-modal{
    .inner-content{
        .option-field{
            margin-bottom: 20px;
            label{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;
                margin-bottom: 10px;
                display: block;
            }
            input{
                background: #191D26;
                border: 1px solid #343742;
                border-radius: 10px;
                padding: 16px 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #fff;
                width: 100%;
                &::placeholder{
                    color: #81828A;
                }
            }
            textarea{
                background: #191D26;
                border: 1px solid #343742;
                border-radius: 10px;
                padding: 16px 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #fff;
                width: 100%;
                height: 96px;
                &::placeholder{
                    color: #81828A;
                }
            }
            .choose{
                background: #191D26;
                border: 1px solid #343742;
                border-radius: 10px;
                padding: 16px 15px;
                display: flex;
                align-items: center;
                gap: 15px;
                .btn-choose{
                    background: #FF0083;
                    border-radius: 5px;
                    padding: 7px 20px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    margin-bottom: 0 !important;
                }
                h6{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #81828A;
                }
            }
            .dropdown{
                .dropdown-toggle{
                    background: #191D26;
                    border: 1px solid #343742;
                    border-radius: 10px;
                    padding: 16px 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    width: 100%;
                    &[aria-expanded="true"]{
                        border: 1px solid #FF0083;
                        img{
                            transform: rotate(180deg);
                        }
                    }
                    &::after{
                        display: none;
                    }
                }
                .dropdown-menu{
                    background: #22252F;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    width: 100%;
                    padding: 5px;
                    a{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 0.01em;
                        color: #FFFFFF;
                        padding: 7px 10px;
                        border-bottom: 1px solid #343742;
                    }
                }
            }
        }
        .twice-field{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .option-field{
                flex: 0 0 49%;
            }
        }
        .upload-field{
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;
                margin-bottom: 10px;
            }
            .upload{
                background: #191D26;
                border: 1px dashed #343742;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 226px;
                overflow: hidden;
                h6{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 15px 0;
                    label{
                        color: #FF0083 !important;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    text-align: center;
                    color: #9098A1;
                }
            }
        }
    }
   
}

.createdsuccess-modal{
    .task-created{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        h6{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 110%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}


@media (max-width:991px){
    .createbasic-modal .inner-content .twice-field{
        flex-direction: column;
    }
    .createbasic-modal .inner-content .twice-field .option-field{
        width: 100%;
    }
}