.create-operation{
    background: rgba(22, 26, 34, 0.9);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 20px;
    .createoperation-form{
        .option-field{
            margin-bottom: 20px;
           
            label{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;
                margin-bottom: 10px;
                display: block;
                text-align: start;
            }
            input{
                background: #191D26;
                border: 1px solid #343742;
                border-radius: 10px;
                padding: 16px 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #fff;
                width: 100%;
                &::placeholder{
                    color: #81828A;
                }
            }
            textarea{
                background: #191D26;
                border: 1px solid #343742;
                border-radius: 10px;
                padding: 16px 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #fff;
                width: 100%;
                height: 180px;
                &::placeholder{
                    color: #81828A;
                }
            }
        
        }
        .twice-field{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .option-field{
                flex: 0 0 49%;
            }
        }
        .upload-field{
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;
                margin-bottom: 10px;
                text-align: start;
            }
            .upload{
                background: #191D26;
                border: 1px dashed #343742;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 372px;
                overflow: hidden;
                h6{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;
                    color: #FFFFFF;
                    margin: 15px 0;
                    label{
                        color: #FF0083 !important;
                    }
                }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    text-align: center;
                    color: #9098A1;
                }
            }
        }
    }
}

.create-general-task{
    margin-top: 30px;
    .upper-field{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .left-side{
            h6{
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 110%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 2px;
                text-align: start;
            }
            p{
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 110%;
                text-transform: uppercase;
                color: #81828A;
                text-align: start;
            }
        }
        .right-side{
            .create-squad-btn{
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
                border: none;
                border-bottom: 1px solid #F058A6;
                box-shadow: 0px 3px 1px #88134F;
                border-radius: 10px;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                padding: 14px 20px;
            }
        }
    }
    .bottom-content{
        background: rgba(22, 26, 34, 0.9);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding: 20px 40px;
        .inner-field{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;

            }
        }
        .middle-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 125px;
            h6{
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
        }
        .last-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 144px;
            p{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;
            }
            .pagi{
                display: flex;
                align-items: center;
                gap: 15px;
                h6{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 100%;
                    color: rgba(191, 195, 199, 0.4);
                }
                a{
                    background: transparent;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 100%;
                    color: #FFFFFF;
                    padding: 6px 11px;
                    &.active{
                        background: #FF0083;
                    }
                }
            }
        }
    }
    .create-squad-btn{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 34.22%), #FF0083;
        border: none;
        border-bottom: 1px solid #F058A6;
        box-shadow: 0px 3px 1px #88134F;
        border-radius: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        padding: 14px 20px;
    }
}

.createtask-modal{
    .modal-dialog{
        max-width: 672px !important;
    }
    textarea{
        height: 192px !important;
    }
    .option-field:last-child{
        margin-bottom: 0 !important;
    }
    .twice-btns{
        button{
            height: auto !important;
            padding: 14px 20px !important;
        }
    }
}

@media (max-width:991px){
    .main-task .my-tabs .nav-tabs .nav-link{
        font-size: 14px;
        white-space: nowrap;
    }
    .create-operation .createoperation-form .twice-field{
        flex-direction: column;
    }
    .create-operation .createoperation-form .twice-field .option-field{
        flex: 0 0 100%;
        width: 100%;
    }
    .createoperation-form{
        margin-top: 20px;
    }
    .create-general-task .upper-field{
        flex-direction: column;
        gap: 15px;
    }
    .create-general-task .upper-field .right-side{
        width: 100%;
        button{
            width: 100%;
        }
    }
    .create-general-task .bottom-content .inner-field{
        display: none;
    }
    .create-general-task .bottom-content .middle-item{
        padding-top: 40px;
    }
    .create-general-task .bottom-content .last-content p{
        display: none;
    }
    .create-general-task .bottom-content .last-content{
        justify-content: center;
    }
}

.setimg-p{
    height: 100%!important;
    object-fit: cover;
}

.alkdaskdasdasd{
    display: flex;
    justify-content: space-between!important;
    justify-content: center;
}