.bugdetail-modal{
    .modal-dialog{
        max-width: 672px;
    }
    .parent{
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        .left{
            background: #191D26;
            border-radius: 10px;
            padding: 20px;
            .text{
                margin-bottom: 20px;
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    color: #81828A;
                    margin-bottom: 10px;
                }
                h6{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                }
            }
            .twice-text{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .text{
                    max-width: 123px;
                    width: 100%;
                }
            }
            .status-div{
                color: #401E07 !important;
                font-weight: 700 !important;
            }
        }
        .right{
            background: #191D26;
            border-radius: 10px;
            padding: 20px;
            .main-head{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #81828A;
                margin-bottom: 10px;
            }
            .upload{
                background: #191D26;
                border: 1px dashed #343742;
                border-radius: 10px;
                padding: 20px;
                overflow: hidden;
                width: 100%;
                height: 254px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        
    }
}

@media (max-width:600px){
    .bugdetail-modal .parent{
        display: flex;
        flex-direction: column;
    }
}